<h1>Companies#index</h1>
<p>Find me in app/views/companies/index.html.erb</p>

<div class="row">
  <div class="col-md-8">
  <p>Click a company name to see its description and reviews!</p>
    <% @companies.each do |company| %>
      <div class="row">
        <h2><%= link_to company.name, company %></h2>
        <%= company.description %>
        <div>
          Review rating: <%= company.review_rating %> (<%= link_to "#{company.reviews.count} reviews", company_reviews_path(company) %>),
          user rating: <%= company.user_rating %> (<%= company.company_votes.count %> votes total)
        </div>
      </div>
    <% end %>
    <%= will_paginate @companies %>
  </div>
</div>
