<h1>Companies#show</h1>
<p>Find me in app/views/companies/show.html.erb</p>

<h1><%= @company.name %></h1>
<div class="row">
  <div class="col-md-8">
    <p class="lead"><%= @company.description %></p>
    <p>Reviews:</p>
    <% @reviews.each do |review| %>
      <h4 class="media-heading">
        <%= review.title %>
      </h4>
      <small>
        submitted <%= time_ago_in_words(review.created_at) %> ago by <%= review.anonymize_email %><br/>
      </small>
      <%= review.body %>
    <% end %>
    <%= will_paginate @reviews %>
  </div>
</div>